@use 'variables';

.main-techniques
{
    margin-top: 1em;
    margin-bottom: 1em;
    align-self: center;

    display: flex;   
    justify-content: center;
    align-items: center;
    position: relative;
}



.plusGros
{
    font-size: 1.3em;
}

.contenuTechnique
{
    margin-left: 4em
}

.langages
{

    a
    {
        text-decoration: underline;
    }

    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    margin: 0;
    display: flex;
    flex-direction: row;
    background-color: rgba($color: variables.$colorOne, $alpha: 0.3);
    border-radius: 1em;
    
    aside
    {
        background-color: rgba($color: variables.$colorFive, $alpha: 0.2);
        @include variables.baseShadow($colorShadow : variables.$colorOne);
        
        border-radius: 1em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        margin: 1em;
        img
        {
            width: 8em;
            margin: 1em 1em;
            height: auto;
            filter: drop-shadow(.1em .1em .1em black);
        }
    }

    div:not([class])
    {
        background-color: rgba($color: variables.$colorOne, $alpha: 1.0);
        @include variables.baseShadow($colorShadow : variables.$colorFive);
        margin: 1em;
        border-radius: 1em;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;

        p
        {
            font-family: variables.$fontTextBase;
            font-size: 1.5em;
            margin: 1em;
        }
    }
}

.logoSylverService
{
    margin: 1.5em;
    position: absolute;
    width: 4em;
    height: auto;
    right: 0;
    opacity: 0.5 !important;
}

@media (max-width: 2200px) {
    .langages
    {
       aside
       {
        max-width: none;
        width: 100%;
       }
    }
}
@media (max-width: variables.$valeurPxPtitFormat) //mobile
{
    .langages
    {
        aside 
        {
            img
            {
                width: 3em;
            }
        }

    }

    .plusGros
    {
        font-size: 1.2em;
    }

    .logoSylverService
    {
        width: 2em;
    }
}