@use 'variables';

main
{
    display: flex;
    justify-content: center;  
    align-items: stretch;
    margin-left: 2em;
    margin-right: 2em;
    > * 
    {
        margin-top: 1em;
    }
    flex-wrap: wrap;
}

main h2
{
    padding: .5em 2em;
    background-color: variables.$colorTwo;
    border-radius: 2em;
}

.fixe-asideFlottant
{
    position: sticky;
    top: 10em;
    right: 0;
    margin-right: 2em;
    background-color: variables.$colorFive;
    border-radius: 1em;
    align-self: baseline;
    @include variables.baseShadow();
    img 
    {
        /*padding: 1;
        background-color: red;*/
        @include variables.imageFlottante($width : 2em);
    }
}

.canceller-active
{
    padding : .5em;
    background-color : white;
    border-radius :100%;
    filter: drop-shadow(.1em .1em .1em black );

}

.cancel-aside
{
    padding : 0;
    background-color : none;
    border-radius : 0;
}



.main-ul
{
    
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 1em;
    li
    {
        @include variables.baseLi();
        color: variables.$colorText;
        transition: transform 1s ease;
        margin: 1em 1em !important;

        &:hover
        {
            transform: scale(1.2);
        }
        
    }

    span
    {
        margin: 0 2em;
    }
 
}


.contenu
{
    width: 68em;
    > *
    {
        @include variables.baseShadow();
    }
    article
    {
        margin-bottom: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: self-start;
        background-color: variables.$colorFive;
        padding: 1em;
        border-radius: 1.6em;
        
        h2 
        {
            font-size: 2em;
            color: variables.$colorOne;
            margin-bottom: 1em;
        }

        p
        {
            font-size: 1.2em;
            font-family: variables.$fontTextBase, sans-serif;
            color: variables.$colorText; 
        }
    }
}


@media (max-width: 1766px) {

    .fixe-asideFlottant
    {
        top: 1em;
        width: 100%;
        margin-right: 0;
        display: flex;
        height: fit-content;
        align-items: center;
        justify-content: center;
        background-color: rgba($color: variables.$colorFive, $alpha: .6);
    }

    .main-ul
    {
        flex-direction: row !important;
        align-items: center;
        flex-wrap: wrap;
        li
        {
            margin: .4em .1em;

            &:hover
            {
                transform: scale(1.05);
            }
        }
    }
}