@use 'variables';

li
{
    list-style: none;
}

a
{
    color: variables.$colorText;
    text-decoration: none;
}

h1,h2
{
    font-family: 'Ubuntu', sans-serif;
}

.title
{
    font-size: 3em;
    cursor:crosshair;
    display: flex;
    align-items: center;
    padding-left: 1em;
    font-weight: 400;
    color: variables.$colorText;
    background-color: variables.$colorOne;
    padding: 1.4em 1em;
    justify-content: space-evenly;
    
}

.fixe-nav
{
    display: flex;
    justify-content: center;
    width: 100%;
}




.nav-ul
{
    padding: 0;

    width: 100%;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit,minmax(11em,1fr));
    background-color: variables.$colorFive;
    justify-content: space-between;
    gap: 0 12em;
    li
    {
        
        @include variables.baseLi($background : linear-gradient(to right,variables.$colorOne,variables.$colorFour,variables.$colorFive))
        {
            background-size: 200% 200%;
            animation: moveBG 10s infinite;
        };
        
        margin: .7em .7em;
        grid-row: span 1;
    }

}

@include variables.MoveBG();


li a,li
{
    font-size: 1.2em;
    font-family: 'Kanit', sans-serif;
}

.lien-nav{
    display: flex;
    justify-content: center;
    position: relative;/*pour les pseudos-elements after et before*/
    &::after
    {
        content: " ";

        position: absolute;
        border-bottom: .1em solid transparent;
        border-radius: 1em;
        bottom: 0;
        right: 0;
        width: 0;
        transition: width 800ms ease,border-color 500ms ease-out;
    }

   &:hover::after
   {
        left: 0;
        border-color: variables.$colorOne;
        width: 100%;
   }
   //même acion mais quand l'element li père est survole
    
}

li:hover
{
    .lien-nav::after
    {
        left: 0;
        border-color: variables.$colorOne;
        width: 100%;
    }
}

@media (max-width: variables.$valeurPxPtitFormat) //mobile
{
    .title
    {
        font-size: 1.7em;
    }

    li a, li
    {
        font-size: 1em;
    }
}