@use 'variables';
@use 'body';
@use 'navHeader';

$couleurBordRadio : black;
$couleurCentreRadio : $couleurBordRadio;
$heightCheckBox : 1.3em;
$widthRadioBox : 1.6em;

*
{
    margin: 0;
}

form
{
    color: variables.$colorFour;
    align-self: center;
    margin: 2em;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    font-family : variables.$fontTextBase;
    border: .1em solid black;
    width: fit-content;
    padding: 1em;
    border-radius: .5em;
    background-color: rgba(0,0,0,.2);
    box-shadow: 1em 1em 1em black;

    label
    {
        color: white;
    }

    fieldset
    {
        margin-bottom: 2em;
        display: flex;
        align-items: stretch;
        flex-direction: column;
        font-family : variables.$fontTextBase;
        border: .1em solid black;
        padding: 1em;
        border-radius: .5em;
        background-color: rgba(0,0,0,.2);
        &:last-child
        {
            margin-bottom:1em;
        }
        > *
        {
            margin-bottom: 1em;
        }
        
        legend
        {
            color: variables.$colorTwo;
            font-size: 1.4em;
            text-shadow: .1em .1em .1em black;
        }
    }

    p
    {
        color: variables.$colorTwo;
        text-shadow: .1em .1em .1em black;
        font-size: 2em;
        margin-bottom: .1em;
    }
}

.ChampForm
{
    font-size: 1.1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1em;
    border-radius: .5em;
    background-color: rgba(25,25,25,.2);
}

.sectionQEV
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;

    .champTypeENT
    {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        margin: .5em .5em;
    }
}


input,select
{
    padding: .5em;
    border-radius: .5em;
    border: .1em solid black;
}



input[type="submit"]
{
    align-self: center;
    padding: 1em;
    margin-right: 0 !important;
    transition: background-color 500ms ease;
    &:hover
    {
        background-color: rgba(0,255,0,0);
    }
}


input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]),select
{
   margin-left: 1em;
   background-color: variables.$couleurArrierePlanInput;
   color: white;
}

fieldset
{
    border: .1em solid black;
}


.Validation  
{
    .ChampForm
    {
        > *
        {
            margin-right: 1em;
        }
    }
}

.Validation
{
    display: flex;
    flex-direction: column;
    > *:last-child
    {
        align-self: center;
    }
}



textarea
{
    border: .1em solid black;
    aspect-ratio:  16 / 5;
    border-radius: .5em;
    background-color: variables.$couleurArrierePlanInput;
    color: white;
    &::placeholder
    {
        color: white;
    }
}

input[type="radio"] + label, input[type="checkbox"] + label
{
    cursor:pointer;
    position: relative !important;
}

input[type="radio"],input[type="checkbox"]{
    display: none;
}

input[type="radio"] + label
{
    margin: 0 2em;
    z-index: 16;
}


input[type="radio"] + label::after
{
    cursor: pointer;
    content: "";
    border: .1em solid $couleurBordRadio;
    position: absolute;
    height: $widthRadioBox;
    width: $widthRadioBox;
    border-radius: 200%;
    z-index: -1;
    margin-left: 1em;
}

input[type="radio"]:checked + label::after
{
    background-size: 70% 70% !important;
    background-position: center;
    background-image: url("../Images/rondNoir.png");
    background-repeat: no-repeat;
}

input[type="checkbox"] + label
{
    margin : 0 2em
}

input[type="checkbox"] + label::after
{
    content: "";
    position: absolute;
    width: 3em;
    height: $heightCheckBox;
    border: .1em solid $couleurBordRadio;
    border-radius: 1em;
    margin-left: 1em
}


input[type="checkbox"] + label::before
{
    content: "";
    position: absolute;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-image: url("../Images/unchecked.png");
    mask-image: url("../Images/unchecked.png");    
    bottom: .2em;
    left: 100%;
    margin-left: 1em + .2em;
    width: $heightCheckBox - .3em;
    height: $heightCheckBox - .2em;
    background-color: black;
    transition: left 200ms ease;
}

input[type="checkbox"]:checked + label::before
{
    -webkit-mask-image: url("../Images/checked.png");
    mask-image: url("../Images/checked.png");
    left: calc(100% + 3em - $heightCheckBox - .2em);
}


label[for="textZone"]
{
    text-shadow: .1em .1em .1em black;
}

.grpMot
{
    white-space: nowrap;
}

.champValidation
{
    display: flex;
    align-items: flex-end;
    label
    {
        margin-right: 1em;
    }
}

@media (max-width: variables.$valeurPxPtitFormat)
{
    .title
    {
        text-align: center;
        line-height: 1.5;
    }

    form 
    {
        padding: .5em;
        fieldset 
        {
            padding: .7em;
            margin-bottom: 0.6em !important;
            > *
            {
                margin-bottom: inherit;
            }
        }

        label
        {
            font-size: .6em !important;
        }

        

        .ChampForm
        {
            padding: .7em;
            input:not([type="submit"]), select
            {
                padding:.3em;
                width: 7em;
                margin-left: .2em !important;
            }
        }
    }
}