@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Yuji+Mai&display=swap");
/*MIXIN*/
body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, rgb(33, 33, 33), rgb(78, 128, 152), rgb(64, 64, 64));
  background-size: 200% 200%;
  animation: moveBG 10s infinite;
}

@keyframes moveBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
li {
  list-style: none;
}

a {
  color: rgb(252, 247, 248);
  text-decoration: none;
}

h1, h2 {
  font-family: "Ubuntu", sans-serif;
}

.title {
  font-size: 3em;
  cursor: crosshair;
  display: flex;
  align-items: center;
  padding-left: 1em;
  font-weight: 400;
  color: rgb(252, 247, 248);
  background-color: rgb(33, 33, 33);
  padding: 1.4em 1em;
  justify-content: space-evenly;
}

.fixe-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav-ul {
  padding: 0;
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, minmax(11em, 1fr));
  background-color: rgb(64, 64, 64);
  justify-content: space-between;
  gap: 0 12em;
}
.nav-ul li {
  display: flex;
  justify-content: center;
  cursor: pointer;
  background: linear-gradient(to right, rgb(33, 33, 33), rgb(78, 128, 152), rgb(64, 64, 64));
  height: 3em;
  align-items: center;
  border-radius: 0.7em;
  border: 0.1em solid rgb(252, 247, 248);
  background-size: 200% 200%;
  animation: moveBG 10s infinite;
  margin: 0.7em 0.7em;
  grid-row: span 1;
}

@keyframes moveBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
li a, li {
  font-size: 1.2em;
  font-family: "Kanit", sans-serif;
}

.lien-nav {
  display: flex;
  justify-content: center;
  position: relative; /*pour les pseudos-elements after et before*/
  width: 100%;
  height: 100%;
  align-items: center;
}
.lien-nav span {
  position: absolute;
  color: transparent;
}
.lien-nav span::after {
  content: " ";
  position: absolute;
  border-bottom: 0.1em solid transparent;
  border-radius: 1em;
  bottom: 0;
  right: 0;
  width: 0;
  transition: width 800ms ease, border-color 500ms ease-out;
}
.lien-nav:hover span::after {
  left: 0;
  border-color: rgb(33, 33, 33);
  width: 100%;
}

@media (max-width: 900px) {
  .title {
    font-size: 1.7em;
  }
  li a, li {
    font-size: 1em;
  }
  .nav-ul {
    gap: 0 0;
  }
}
footer {
  width: 100%;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-self: center;
  z-index: 0;
  box-shadow: 0.1em 0.1em 0.1em rgb(78, 128, 152);
}
footer div {
  position: relative;
}
footer div a {
  display: block;
  font-family: "Barlow", sans-serif;
  font-size: 1em;
  width: fit-content;
  margin: 2em !important;
  border-radius: 2em;
  z-index: 1;
}
footer div a::after {
  content: "";
  position: absolute;
  bottom: 1.5em;
  width: 100%;
  border-bottom: 0.1em dotted white;
  right: 0;
}
footer div:hover img {
  opacity: 1;
  transform: translateY(-4.3em);
  filter: drop-shadow(1px 1px 2px rgb(0, 0, 0));
}
footer div img {
  width: 4em;
  height: auto;
  position: absolute;
  bottom: 0;
  left: calc(50% - 2em);
  opacity: 0;
  filter: drop-shadow(0.1em, 0.1em, 0.1em, black);
  transition: opacity 400ms ease, transform 1s ease;
  z-index: -1;
}

@media (max-width: 900px) {
  footer div a {
    padding: 1em !important;
    margin: 0.7em !important;
  }
  footer img {
    width: 2.8571428571em !important;
    left: calc(50% - 1.4285714286em);
  }
}
main {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-left: 2em;
  margin-right: 2em;
  flex-wrap: wrap;
}
main > * {
  margin-top: 1em;
}

main h2 {
  padding: 0.5em 2em;
  background-color: rgb(252, 247, 248);
  border-radius: 0.8em;
}

.fixe-asideFlottant {
  position: sticky;
  top: 10em;
  right: 0;
  margin-right: 2em;
  background-color: rgba(64, 64, 64, 0.6);
  border-radius: 1em;
  align-self: baseline;
  z-index: 16;
  box-shadow: 0.1em 0.1em 0.1em black;
}
.fixe-asideFlottant img {
  position: absolute;
  width: 1em;
  height: auto;
  top: 0;
  right: 0;
  filter: drop-shadow(0.1em 0.1em 0.1em black);
  margin: 0.5em;
}

.canceller-active {
  padding: 0.5em;
  background-color: white;
  border-radius: 100%;
  filter: drop-shadow(0.1em 0.1em 0.1em black);
}

.cancel-aside {
  padding: 0;
  background-color: none;
  border-radius: 0;
}

.main-ul {
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 1em;
}
.main-ul li {
  display: flex;
  justify-content: center;
  cursor: pointer;
  background: rgb(78, 128, 152);
  height: 3em;
  align-items: center;
  border-radius: 0.7em;
  border: 0.1em solid rgb(252, 247, 248);
  color: rgb(252, 247, 248);
  transition: transform 1s ease, box-shadow 1s ease;
  margin: 1em 1em !important;
}
.main-ul li:hover {
  transform: skewX(-8deg) scale(1.2);
  box-shadow: 0.1em 0.1em 0.1em black;
}
.main-ul span {
  margin: 0 2em;
}

.contenu {
  width: 68em;
}
.contenu > * {
  box-shadow: 0.1em 0.1em 0.1em black;
}
.contenu article {
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;
  background-color: rgba(64, 64, 64, 0.6);
  padding: 1em;
  border-radius: 1.6em;
}
.contenu article h2 {
  font-size: 2em;
  color: rgb(33, 33, 33);
  margin-bottom: 1em;
}
.contenu article p {
  font-size: 1.2em;
  font-family: "Titillium Web", sans-serif;
  color: rgb(252, 247, 248);
}

#ImagesSylverservice {
  margin-top: 2em;
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fill, 30em);
  justify-content: center;
  align-items: baseline;
  gap: 5em;
}
#ImagesSylverservice img {
  border-radius: 2em;
  filter: drop-shadow(0.1em 0.1em 0.1em black);
  height: auto;
  max-width: 30em;
}

@media (max-width: 1800px) {
  .fixe-asideFlottant {
    top: 1em;
    width: 100%;
    margin-right: 0;
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: center;
    background-color: rgba(64, 64, 64, 0.6);
  }
  .main-ul {
    flex-direction: row !important;
    align-items: center;
    flex-wrap: wrap;
  }
  .main-ul li {
    margin: 0.4em 0.1em;
  }
}
@media (max-width: 900px) {
  #ImagesSylverservice {
    grid-template-columns: repeat(auto-fill, 10em);
    gap: 2em;
  }
  #ImagesSylverservice img {
    width: 10em;
  }
}
.main-techniques {
  margin-top: 1em;
  margin-bottom: 1em;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

h3 {
  font-size: 1.3em;
}

.contenuTechnique {
  margin-left: 4em;
}

.langages {
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  margin: 0;
  display: flex;
  flex-direction: row;
  background-color: rgba(33, 33, 33, 0.3);
  border-radius: 1em;
}
.langages a {
  text-decoration: underline;
}
.langages aside {
  background-color: rgba(64, 64, 64, 0.2);
  box-shadow: 0.1em 0.1em 0.1em rgb(33, 33, 33);
  border-radius: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 1em;
}
.langages aside img {
  width: 8em;
  margin: 1em 1em;
  height: auto;
  filter: drop-shadow(0.1em 0.1em 0.1em black);
}
.langages div:not([class]) {
  background-color: #212121;
  box-shadow: 0.1em 0.1em 0.1em rgb(64, 64, 64);
  margin: 1em;
  border-radius: 1em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.langages div:not([class]) section, .langages div:not([class]) p {
  font-family: "Titillium Web";
  font-size: 1.2em;
  margin: 1em;
}

.logoSylverService {
  margin: 1.5em;
  position: absolute;
  width: 4em;
  height: auto;
  right: 0;
  opacity: 0.5 !important;
}

@media (max-width: 2200px) {
  .langages aside {
    max-width: none;
    width: 100%;
  }
}
@media (max-width: 900px) {
  .langages aside img {
    width: 3em;
  }
  .logoSylverService {
    width: 2em;
  }
  .langages p {
    font-size: 0.5em !important;
  }
  .contenuTechnique {
    margin-left: 1em;
  }
}
/*modification des elements par défaut*/
* {
  margin: 0;
}

img {
  cursor: pointer;
}

.changeLangue {
  top: 1em;
  position: fixed;
  color: wheat;
  cursor: pointer;
}
.changeLangue img {
  filter: drop-shadow(0.1em 0.1em 0.1em black);
  width: clamp(1.2em, 3vw, 3em);
}

.full-Body {
  color: white;
}
.full-Body main {
  height: 100%;
  display: grid;
  place-items: center;
  margin-bottom: 2em !important;
  filter: drop-shadow(0.1em 0.1em 0.1em black);
}
.full-Body p {
  font-size: 1em;
  font-family: "Titillium Web";
  padding: 1em;
  background-color: rgb(64, 64, 64);
  border: 0.2em solid rgb(33, 33, 33);
  border-radius: 1em;
  align-self: center;
  margin: 1em 1em;
  white-space: pre-wrap;
}

.full-html, .full-Body {
  min-height: 98%;
  height: 98%;
  overflow-x: hidden;
}

.pConserve {
  white-space: pre-wrap;
}

@media (max-width: 900px) {
  p {
    font-size: 0.7em !important;
  }
  h2 {
    font-size: 1em !important;
  }
}

/*# sourceMappingURL=style.css.map */
